{
  "mcpServers": {
    "atlassian": {
      "type": "http",
      "url": "https://mcp.atlassian.com/v2/mcp"
    },
    "figma": {
      "type": "http",
      "url": "https://mcp.figma.com/mcp"
    },
    "figma-desktop": {
      "type": "http",
      "url": "http://127.0.0.1:3845/mcp"
    },
    "qmetry": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@smartbear/mcp@latest"
      ],
      "env": {
        "MCP_CLIENTS": "QMetry",
        "QMETRY_API_KEY": "${QMETRY_API_KEY}",
        "QMETRY_BASE_URL": "${QMETRY_BASE_URL:-https://testmanagement.qmetry.com}"
      }
    },
    "qtm4j": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@smartbear/mcp@latest"
      ],
      "env": {
        "MCP_CLIENTS": "QTM4J",
        "QTM4J_API_KEY": "${QTM4J_API_KEY}",
        "QTM4J_BASE_URL": "${QTM4J_BASE_URL:-https://qtmcloud.qmetry.com}",
        "QTM4J_AUTOMATION_API_KEY": "${QTM4J_AUTOMATION_API_KEY:-}"
      }
    },
    "aio-tests": {
      "type": "http",
      "url": "${AIO_MCP_URL}",
      "headers": {
        "Authorization": "Bearer ${AIO_API_TOKEN}"
      }
    },
    "appium-mcp": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "appium-mcp@latest"
      ],
      "env": {
        "ANDROID_HOME": "${ANDROID_HOME}"
      }
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@playwright/mcp@latest"
      ]
    }
  }
}
